/* font  */
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nav-primary{
    color: #FD6E0A;

}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 20px;
    
}
.btn-primary{
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    background-color: #FD6E0A;
    border: 5px;
    border-radius: 5px;
    padding: 18px 35px;
    

}
.dark-02{
    color: #474747;

}
nav li a {
    text-decoration: none;
}
/* nav tittle */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    
}
/* nav title */
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin: 0px 0px 0px 120px;

}
.secondary-bg{
    background-color: #FFF8F3;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
}
.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0px 200px;
    
}
.bannar-title{
    font-weight:400px;
    font-size: 45px;
}
.bannar-grettings{
    font-weight: bold;
    font-size: 85px;
}
.bannar-description{
    font-weight:auto;
    font-size: 18px;
}
.header{
    background-image: url('../header_bg.png') , url('../developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    margin: 10px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
 /* about section */
 .about{
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;

 }
 .about-items{
    display: flex;
    justify-content: space-around;
 }
 .text-alin{
    text-align: center;
 }
 .skills-container{
    display: flex;
    gap: 24px;
    margin-top: 100px;
 }
 .skill{
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06) ;
    
 }
 .skills{
    margin-top: 130px;
    margin-bottom: 120px;
 }
 /* resume style  */
 .resume-summary{
    display: flex;
    gap: 24px;
 }
 .experience-description{
    text-decoration: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight:400;
    
 }
 .resume-column-title{
    text-align: center;
    font-size: 50px;
 }
.experience-description .experience-sub-title{
    color:rgba(117, 117, 117, 1);
}
.button-style{
    text-align: center;
    margin-top: 50px;
}
.footer-description{
    display: flex;
    padding: 230px;
}
.download-cv-style{
    margin-bottom: 100px;
}
footer{
    gap:100px;
    padding: 130px 230px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"],footer input[type="email"],footer textarea{
    height:64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px ;
    margin-bottom: 24px;
    border: none;

}